.checkout {
  display: flex;
  padding: 1.25em;
  background-color: #eee;
  height: max-content;
  
  &__left {
    &-ad {
      width: 100%;
      margin-bottom: .625em;
    }

    &-title {
      margin-right: .625em;
      padding: .625em;
      border-bottom: 1px solid #d3d3d3;
    }
  }
}